body {
    margin: 0px;
    padding: 0px;
}
#mainwebview {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
dialog {
    background-color: #23232C;
    color: #C2C2CA;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    padding: 0;
    min-height: 100px;
    min-width: 200px;
}
dialog::backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
dialog h1 {
    font-size: 14pt;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding: 4pt;
    border-bottom: 1px solid #C2C2CA;
}
dialog div {
    padding: 10pt;
}
#dialog-ok {
    background-color: #21B330;
    border-radius: 4px;
    border: 1px solid #000;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}
#dialog-ok:hover {
    background-color: #5DBE66;
}
#dialog-ok:active {
    position: relative;
    top: 1px;
}
#dialog-cancel {
    display: none;
    background-color: #C31B0C;
    border-radius: 4px;
    border: 1px solid #000;
    cursor: pointer;
    color: #ffffff;
    font-size: 15px;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}
#dialog-cancel:hover {
    background-color: #eb675e;
}
#dialog-cancel:active {
    position: relative;
    top: 1px;
}
